body{
    background-color:rgb(245,245,245);
  }
  .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Arial, sans-serif;
      padding-top: 10px;
    }
    
    h1 {
      font-size: 40px;
      color: rgb(184, 63, 69);
    }
    
    .div_input {
      display: flex;
      align-items: center;
      border:rgb(254,254,254);
      background-color:rgb(254,254,254);
      margin-bottom: 10px;
    }
    
    .div_input:hover{
      border: 1px solid rgb(184, 63, 69);
    }
  
    .check{
      width: 30px;
      height:30px;
      cursor: pointer;
    }
    .check:checked:after {
      display: none;
    }
  
    input[type="text"] {
      width: 360px;
      padding: 15px;
      font-size: 14px;
      background-color: rgb(254,254,254);
      border: none;
      outline: none;
      color:black;
    }
    
    .todo-item input[type="checkbox"] {
      appearance: none;
      background-color:rgb(255,255,255);
      border:2px solid rgb(189,189,189);
      border-radius: 50%;
      margin-right: 10px;
      width: 20px;
      height: 25px;
      cursor: pointer;
    }
    
    input[type="checkbox"]:checked {
      border: 2px solid green;
    }
    
    input[type='checkbox']:checked:after {
      content: '✔';
      color:green;
      font-size: 20px;
    }
  
    .todo-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 410px;
      padding: 10px;
      background-color:rgb(255,255,255);
      border-bottom: 1px solid rgb(189,189,189);
    }
    
    .todo-item span {
      flex-grow: 1;
      color: black;
    }
    
    .todo-remove {
      display: none;
      background: none;
      border: none;
      color: red;
      cursor: pointer;
      font-size: 16px;
    }
    
    .todo-item:hover .todo-remove {
      display: inline-block; 
    }
    
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 410px;
      padding: 10px;
      color:black;
      background-color:rgb(255,255,255);
      font-size: 14px;
  
    }
  
    .todo-all,
    .todo-active,
    .todo-completed {
      padding: 5px;
      border:none;
      background-color:rgb(255,255,255);
    }
    
    .todo-all:hover,
    .todo-active:hover,
    .todo-completed:hover {
      border: 2px solid rgb(184, 63, 69);
    }
    
    .todo-clear-completed {
      border: none;
      background-color: rgb(255,255,255);
    }
    